{% extends 'accounts/main.html' %}<span></span> {% load static %}<span></span>
{% block content %}

<style>
  .profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%;
  }
</style>
<br />
<div class="row">
  <div class="col-md-3">
    <div class="card card-body">
      <a href="{% url 'home' %}" class="btn btn-warning">
        &nbsp; Back To Profile
      </a>
      <h3 style="text-align: center;">Account Settings</h3>
      <hr />
      <img src="" alt="" class="profile-pic" />
    </div>
  </div>
  <div class="col-md-9">
    <div class="card card-body">
      <form action="" method="POST">
        <input
          type="submit"
          class="btn btn-primary"
          name="update information"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
